[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/colingan
[access "refs/for/refs/*"]
	read = group user/colingan
	push = group user/colingan
	label-Code-Review = -2..+2 group user/colingan
	label-Verified = -1..+1 group user/colingan
	rebase = group user/colingan
	removeReviewer = group user/colingan
	submit = group user/colingan
[access "refs/heads/*"]
	read = group user/colingan
	create = group user/colingan
	push = +force group user/colingan
	pushMerge = group user/colingan
[access "refs/tags/*"]
	push = +force group user/colingan
	pushTag = group user/colingan
	pushSignedTag = group user/colingan
